<!-- <md-sidenav mode="side" opened #sidenav>
      <md-nav-list>
        <md-list-item *ngFor="let link of navLinks" (click)="getSelectedTopic(topic)">
            <span>{{ link }}</span>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>-->

        <md-card  *ngFor="let currentnews of news" fxLayout="row"
              fxLayout.sm="column"
              fxLayoutGap="16px">
          <md-card fxFlex="90" >
          <div fxLayout="row" >
              <img md-card-md-image src={{currentnews.urlToImage}} fxflex="20">
              <md-card-header fxFlex>
                <md-card-title>{{currentnews.title}}</md-card-title>
                <md-card-subtitle>{{currentnews.publishedAt}}</md-card-subtitle>
              </md-card-header>
          </div>
          <div >
            <br/>
            <md-card-content >
                {{currentnews.description}}
            </md-card-content>
          </div>
          </md-card>
          <md-card fxFlex fxLayout="column" fxLayoutGap="20px" fxFlexFill>
            <!--https://material.angular.io/components/component/tooltip-->

                <i class="material-icons md-dark orange600 example-tooltip-host"
                       mdTooltip="Add to Favorites"
                       [mdTooltipPosition]="'above'" >
                  favorite
                </i>

                <i class="material-icons md-dark md-inactive">favorite</i>

                <i class="material-icons md-dark orange600 example-tooltip-host"
                       mdTooltip="Bookmark news"
                       [mdTooltipPosition]="'above'" >
                  bookmark
                </i>
                <i class="material-icons md-dark orange600 example-tooltip-host"
                  mdTooltip="Share news"
                       [mdTooltipPosition]="'above'" >
                  share</i>


            <!--<md-slide-toggle [(ngModel)]="currentnews.publishedAt">Set Favorit?</md-slide-toggle>
            <md-slide-toggle [(ngModel)]="currentnews.publishedAt">Share</md-slide-toggle>-->

          </md-card>
        </md-card>

<nw-favorite (onCategorySelection)="getSelectedTopic($event)"></nw-favorite>
