<!-- <md-sidenav mode="side" opened #sidenav>
      <md-nav-list>
        <md-list-item *ngFor="let link of navLinks" (click)="getSelectedTopic(topic)">
            <span>{{ link }}</span>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>-->

        <md-card  *ngFor="let currentnews of news" fxLayout="row"
              fxLayout.sm="column"
              fxLayoutGap="16px">
          <md-card  >
          <div fxLayout="row" >
              <img md-card-md-image src={{currentnews.urlToImage}} fxflex="20">
              <md-card-header fxFlex>
                <md-card-title (click)="navigate(currentnews.url)" >{{currentnews.title}}</md-card-title>
                <md-card-subtitle>{{currentnews.publishedAt}}</md-card-subtitle>
              </md-card-header>
          </div>
          <div >
            <br/>
            <md-card-content >
                {{currentnews.description}}
            </md-card-content>
          </div>
          <md-card-actions>
            <!--https://material.angular.io/components/component/tooltip-->
              <i class="material-icons md-dark orange600 example-tooltip-host"
                  mdTooltip="Share news"
                       [mdTooltipPosition]="'above'"
                       (click)="openSharePopup(currentnews.url, currentnews.title)" >
                  share</i>
                  <i *ngIf="currentnews.publishedAt"
                          (click)="currentnews.publishedAt = !currentnews.publishedAt"
                          class="material-icons md-dark orange600"
                          mdTooltip="Mark Unfavorite"
                       [mdTooltipPosition]="'above'">
                       favorite
                  </i>
                  <i *ngIf="!currentnews.publishedAt"
                          (click)="currentnews.publishedAt = !currentnews.publishedAt"
                          class="material-icons md-dark md-inactive"
                          mdTooltip="Mark Favorite"
                       [mdTooltipPosition]="'above'">
                       favorite
                  </i>
          </md-card-actions>
      </md-card>
         <!-- <md-card fxFlex fxLayout="column" fxLayoutGap="20px" fxFlexFill>


                <i class="material-icons md-dark orange600 example-tooltip-host"
                       mdTooltip="Add to Favorites"
                       [mdTooltipPosition]="'above'" >
                  favorite
                </i>

                <i class="material-icons md-dark md-inactive">favorite</i>

                <i class="material-icons md-dark orange600 example-tooltip-host"
                       mdTooltip="Bookmark news"
                       [mdTooltipPosition]="'above'" >
                  bookmark
                </i>


          </md-card>-->
        </md-card>

<nw-favorite (onCategorySelection)="getSelectedTopic($event)"></nw-favorite>
