.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.orange600 { color: #FB8C00; }

.example-tooltip-host {
  display: inline-flex;
  align-items: center;

}

.card-content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

.card-title {
    font-family: Raleway, Verdana, sans-serif;
    font-size: 8rem;
}
