 <md-toolbar color="primary" >
    <button md-icon-button [mdMenuTriggerFor]="theMenu" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>

    <span  fxFlex>News</span>
    <span fxFlex></span>
    <button md-icon-button [mdMenuTriggerFor]="theMenu">
          <md-icon>more_vert</md-icon>
    </button>

</md-toolbar>

     <md-menu #theMenu x-position="before">
        <button md-menu-item (click)="navigate('Preference')">Preferences</button>
        <button md-menu-item (click)="x">Favorite</button>
        <button md-menu-item (click)="x">Help</button>
        <button md-menu-item (click)="x">About</button>
        <button md-menu-item (click)="x">Login</button>
      </md-menu>
<!--
      <button md-fab (click)="sidenav.open()" >
        <md-icon>Menu</md-icon>
      </button>
    </span>-->



