<!--<h1>
  {{title}}
</h1>-->

<md-card fxLayout="column" fxFlex >
     <nw-header></nw-header>
  <md-sidenav-container fxFlex>
    <router-outlet></router-outlet>
  </md-sidenav-container>
</md-card>




<!--<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let topic of navLinks"
     [routerLink]="topic"
     routerLinkActive #rla="routerLinkActive"
     [active]="true">
    {{topic}}
  </a>
</nav>-->


  <!--<md-card fxFlex="80"
     *ngFor="let currentnews of news">
    <h2>{{currentnews.title}}</h2>
    <p>{{currentnews.description}}</p>
  </md-card>
-->


<!--    <div class="content">
      <li *ngFor="let currentnews of news ">
        <h3>
        {{currentnews.title}} <br/>
        </h3>
        <label >Description:</label>
        <label>{{currentnews.description}}</label> <br/>
        <label >Date:</label>
        <label>{{currentnews.publishedAt}}</label> <br/>
        <label >Image:</label>
        <img src="{{currentnews.urlToImage}}" alt=""/>
        <br/>
        </li>
    </div>
-->



<!--
<li *ngFor="let currentnews of news ">
<h3>
{{currentnews.title}} <br/>
</h3>
<label >Description:</label>
<label>{{currentnews.description}}</label> <br/>
<label >Date:</label>
<label>{{currentnews.publishedAt}}</label> <br/>
<label >Image:</label>
<img src="{{currentnews.urlToImage}}" alt=""/>
 <br/>

</li>

<router-outlet></router-outlet>
-->
