.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  display: flex;
  align-content: space-between;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
}
